export K8CIDR="192.168.0.0/16"                      # this is your k8s cluster CIDR
export K8SVER="1.29"                                # select the required K8S version
export HOSTOS="ubuntu"                              # select the host OS
export NETOP_NAMESPACE="nvidia-network-operator"    # set the nvidia network operator name space. may differ in yoyur cluster
export NETOP_APP_NAMESPACE="default"                # set the name space that your application pods will run in. may vary in your cluster
export NETOP_NETWORK_TYPE="SriovNetwork"            # define the type of network HostDevNetwork or SriovNetwork
export NETOP_NETWORK_NAME="net-rdma-sriov"          # define a name for your nbetwoprk-work-operator secondary networks
export NETOP_NETWORK_POOL="sriovnet-pool"           # define a name for youy nvipam ip pools
export NETOP_NETWORK_RANGE="192.169.0.0/16"         # define the IP pool for your secondary rdma network. different from the K8S CDIR
export NETOP_NETWORK_GW="192.169.0.1"               # define the gateway IP for your secondary rdma network for your cluster
export NETOP_PERNODE_BLOCKSIZE="32"                 # define the number of IP addrs that can be allocated per worker node inyour cluster from the nvipam pool
export NETOP_NETWORK_VLAN="0"                       # define the VLAN
export NETOP_RESOURCE="sriov_resource"              # define the name of the network resource
export PROD_VER=1 # is this a production version    # selection product vs dev releases
if [ "${PROD_VER}" = "1" ];then
  export NETOP_VERSION="24.1.1"                     # select netrwork operator version
# export NETOP_HELM_URL="https://helm.ngc.nvidia.com/nvidia/cloud-native/charts/network-operator-${NETOP_VERSION}.tgz"
  export HELM_NVIDIA_REPO="https://helm.ngc.nvidia.com/nvidia"     # helm repo URL
  export NETOP_HELM_URL="https://helm.ngc.nvidia.com/nvidia/charts/network-operator-${NETOP_VERSION}.tgz"  # helm chart tarball
else
  export NETOP_VERSION="24.7.0-rc.2"               # select netrwork operator version
  export HELM_NVIDIA_REPO="https://helm.ngc.nvidia.com/nvstaging"  # helm repo URL
  export NETOP_HELM_URL="https://helm.ngc.nvidia.com/nvstaging/mellanox/charts/network-operator-${NETOP_VERSION}.tgz" # helm chart tarball
  export NGC_API_KEY=`cat /root/.ngc/config|grep apikey|cut -d' ' -f3` # dev NGC_API_KEY
  export NGC_SECRET="ngc-image-secret"                                 # dev image secret
fi
export IPAM_TYPE="nv-ipam"                         # select type of ipa, wherea
export CALICO_ROOT="3.27.2"
export CALICO_VERSION="v${CALICO_ROOT}"
