export NETOP_NETWORK_TYPE="HostDeviceNetwork"
export NETOP_NETWORK_NAME="hostnet-rdma-shared-device"
export NETOP_RESOURCE="rdma_shared_device"
export NETOP_NETWORK_POOL="hostnet-pool"
export NETOP_NETWORK_VLAN="0"
export NETOP_VENDOR="15b3"
export NETOP_HCAMAX="63"
# devices index, device PCI id, HCAMAX (RDMA shared only), list of network device | PCI BFDs
#export NETOP_NETLIST=( a,101b,${NETOP_HCAMAX},ens1f0np0 b,101b,${NETOP_HCAMAX},ens1f1np1 c,101b,${NETOP_HCAMAX},ens2np0 )
#export NETOP_NETLIST=( a,,,ens1f0np0 b,,,ens1f1np1 c,,,ens2np0 )
export NETOP_NETLIST=( a,,,ens1f0np0 )
#export NETOP_NETLIST=( a,,,mlx5_0 )
